@{
    ViewData["Title"] = "Inicio";
}

<section class="syj-placeholder">
    <div class="syj-container syj-hero__content">
        <h1>Página web en proceso...</h1>
    </div>
    <img class="syj-hero__img" src="~/website/img/productos/sample-1.jpg" alt="">
</section>
