<header class="syj-header">
    <div class="syj-container syj-header__inner">
        <button id="syj-burger" class="syj-burger" aria-label="Menú" aria-controls="syj-drawer" aria-expanded="false">☰</button>

        <a class="syj-brand" asp-controller="Website" asp-action="Index" aria-label="S&J Style">
            <img class="syj-logo"
                 src="~/img/header/logo_header.svg"
                 alt="SYJ logo" asp-append-version="true" />
        </a>


        <div class="syj-actions">
            <span class="syj-badge">BUSINESS</span>
            <img class="syj-flag" src="~/img/header/Chile.svg" asp-append-version="true" />
            <img class="syj-flag" src="~/img/header/Ecuador.svg" asp-append-version="true" />
            <img class="syj-flag" src="~/img/header/Peru.svg" asp-append-version="true" />
        </div>
    </div>
</header>
