<header class="syj-header">
    <div class="syj-container syj-header__inner">
        <button id="syj-burger" class="syj-burger" aria-label="Menú" aria-controls="syj-drawer" aria-expanded="false">☰</button>

        <a class="syj-brand" asp-controller="Website" asp-action="Index" aria-label="S&J Style">
            <img src="~/website/img/header/logo_header.svg" alt="S&J Style" class="syj-logo" asp-append-version="true" />
        </a>

        <div class="syj-actions">
            <span class="syj-badge">BUSINESS</span>
            <img class="syj-flag" src="~/website/img/header/chile.svg" asp-append-version="true" alt="CL" loading="lazy" />
            <img class="syj-flag" src="~/website/img/header/ecuador.svg" asp-append-version="true" alt="EC" loading="lazy" />
            <img class="syj-flag" src="~/website/img/header/peru.svg" asp-append-version="true" alt="PE" loading="lazy" />
        </div>
    </div>
</header>
