@* Host único para los modales *@
<div id="app-modal" class="app-modal hidden" aria-hidden="true" role="dialog" aria-modal="true">
    <div class="app-modal__backdrop" data-modal-close></div>
    <div class="app-modal__box" role="document" tabindex="-1">
        <button type="button" class="app-modal__close" title="Cerrar" aria-label="Cerrar" data-modal-close>
            <i class="bi bi-x-lg"></i>
        </button>
        <div id="app-modal-body"></div>
    </div>
</div>
