@model SYJBD.Models.Unidad
@{
    Layout = null;
}
<h3 class="mb-3">Detalle de unidad</h3>
<dl class="row">
    <dt class="col-sm-3">ID</dt>
    <dd class="col-sm-9">@Model.IdUnidad</dd>
    <dt class="col-sm-3">Nombre</dt>
    <dd class="col-sm-9">@Model.Nombre</dd>
</dl>
<div class="mt-3">
    <button type="button" class="btn btn-light" data-modal-close>Cerrar</button>
</div>
